/* BORDER START */

/* .border-test {
  width: 200px;
  height: 200px; */

/* Встановить стилі верхньої рамки */
/* border-top-width: 3px;
  border-top-style: solid;
  border-top-color: blue;
  border-top-left-radius: 10px; */

/* Встановить стилі правої рамки */
/* border-right-width: 5px;
  border-right-style: dotted;
  border-right-color: black;
  border-top-right-radius: 30px; */

/* Встановить стилі нижньої рамки */
/* border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: palevioletred;
  border-bottom-left-radius: 50%; */

/* Встановить стилі лівої рамки */
/* border-left-width: 9px;
  border-left-style: dashed;
  border-left-color: green;
} */

/* BORDER STOP */
