// HEADER

.header-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contacts {
  margin-left: auto;
}

// NAVIGATION

.nav-section {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.nav {
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

.nav__item {
}

.nav__link {
  display: inline-block;

  padding: 7px 10px;
  min-width: 167px;

  color: var(--text-dark-color);

  text-align: center;

  background-color: var(--main-color);

  &:hover,
  &:focus {
    background-color: var(--dark-color);
    color: var(--main-color);
    border-left: var(--main-color) 1px solid;
    border-right: var(--main-color) 1px solid;
  }
}

.img-menu {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}
