/* TEXT START */

/* Колонки */

/* .columns {
  text-indent: 40px;
  column-count: 3;
  column-width: 100px;
  column-gap: 20px;
} */

/* Декоративні елементи 1 */

/* .text-line-through {
  color: rgba(100, 100, 100, 0.6);

  text-decoration: red line-through 1px;
}

.text-underline {
  color: teal;

  text-decoration: rgb(128, 17, 219) underline 1px;
}

.text-overline {
  color: black;

  text-decoration: green overline 1px;
} */

/* Декоративні елементи 2 */
/* .up {
  text-decoration: overline wavy red;
}
.through {
  text-decoration: line-through dashed green;
}
.down {
  text-decoration: underline solid blue;
}
.no {
  text-decoration: none;
}
.combi {
  text-decoration: underline overline double grey;
} */

/* Регістри */

/* .text-uppercase {
  text-transform: lowercase;
}

.text-lowercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
} */

/* Перенос рядків */

/* .text__nowrap {
  white-space: nowrap;
}
.text__pre {
  white-space: pre;
}
.text__pre-wrap {
  white-space: pre-wrap;
} */

/* Рішення через "pre" */

/* .text--pre {
  font: inherit;

  font-style: italic;
}

.text--pre--font_Caveat {
  font-family: 'Caveat', sans-serif;

  font-size: 24px;
  line-height: 1.2;
} */

/* Офорилення першої літери тексту */

/* .text--pre-A {
  font: inherit;
}

.text--pre-A::first-letter {
  font-size: 36px;
  font-weight: 700;

  color: red;
} */

/* Кольорове віділення тексту */

/* .text-accent {
  color: #3f51b5;
  background-color: yellow;
}

.text--pre-A::selection {
  color: #3f51b5;
  background-color: yellow;
} */

/* ТІНЬ */

/* .one {
  color: blue;
  text-decoration: underline wavy;
  margin-bottom: 1rem;

  text-shadow: 3px 3px 2px hsla(0, 0%, 0%, 0.5), -3px -3px 2px hsla(0, 86%, 44%, 0.5);
}

.rings {
  color: orange;
  text-shadow: -5px -6px 0 blue, 5px -6px 0 black, 10px 0 0 green, 15px -6px 0 red;
} */

/* Автоперевірка */

/* TEXT STOP */
