/*BASE SETTINGS START*/

body {
  font-family: 'Montserrat', sans-serif;

  // background-color: var(--dark-color);
  // background-image: url(../image/base-image/background_blue_002.jpg);

  // color: var(--text-color);

  font-size: 24px;
}

/*BASE SETTINGS STOP*/

/*SECTIONS SETTINGS START*/

.section {
  padding-top: 30px;
  padding-bottom: 30px;

  // outline: 1px solid tomato;
}

/*SECTIONS SETTINGS STOP*/

/*TYPOGRAPHY SETTINGS START*/
//TODO також в RESET є скидання налаштувань для тексту.

p {
  color: var(--text-dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-dark-color);
}

.title {
  text-align: center;
}
/*TYPOGRAPHY SETTINGS STOP*/
