/* VARIABLE START */

:root {
  --main-color: #ffc300;
  --dark-color: #242424;
  --gray-color: #5e5e5e;
  --light-color: #ffffff;

  --text-light-color: #ffffff;
  --text-dark-color: #242424;
}

/* VARIABLE STOP */
