/* VARIABLE START */

:root {
  --dark-color: #0F214D;

  --main-dark-color: #0b5fb0;
  --main-color: #2ba3ec;
  --main-light-color: #aaf1ff;

  --gray-dark-color: #242424;
  --gray-color: #efedce;
  --gray-light-color: #aaf1ff;

  --black-color: #000000;

  --second-light-color: #efedce;

  --light-color: #ebfcff;
  --whait-color: #ffffff;

  --text-light-color: #ebfcff;
  --text-white-color: #ffffff;

  --text-dark-color: #0F214D;
  --text-black-color: #000000;

}

/* VARIABLE STOP */
